## Notebook 1

## **Python Basics For Beginners: 'The Beginners Guide'**

**In This NoteBook We Will Learn About :** 
**1- Variables**
**2- Data Types**
**3- Arithmatic Operation**
**4- Concatenate**
**5- Input Values From User**

In [1]:
print('hello world')

hello world

## Creating Variables

In [4]:
x=5

In [ ]:
# define variables with there values
print("x=",x)

x= 5

In [8]:
y = x 
print ("y = " , y)

y =  5

## Data Types

In [13]:
a = 5 
b = 4.3
c = "String"
d = True 


print( a , type(a))
print(b , type(b))
print(c, type(c))
print(d, type(d))

5 <class 'int'>
4.3 <class 'float'>
String <class 'str'>
True <class 'bool'>

## Arithmatic Operations

In [16]:
Number1 = 10
Number2 = 2

print(Number1 + Number2)
print(Number1 - Number2)
print(Number1 * Number2)
print(Number1 ** Number2)
print(Number1 / Number2)

12
8
20
100
5.0

## Concatenation

In [18]:
Car = "BMW"
Model = " M4 CS"

print(Car + Model)

BMW M4 CS

In [ ]:
# when we concatinat stirng with numerical number , we need to convert the integer number to sting first 

Mercedes = "AMG"
TypeOF = 1 

print(Mercedes + " " +str( 1))

AMG 1

In [24]:
#  \n to add a new line 

MyName = "AbdelRahman"
FatherName = "Alaa"

print (MyName + "\n "+ FatherName)

AbdelRahman
 Alaa

## How Can user Input Data

In [3]:
# I Will Ask User About His First Name And His Age .bash_history

FirstName = input(print("Pleae Enter Your First Name"))
Age = input(print("Pleas Enter Your Age"))

Pleae Enter Your First Name
Pleas Enter Your Age

In [4]:
print("Hello Sir , Your First Name Is : " , FirstName)
print("And Your Age Is : " , Age)

Hello Sir , Your First Name Is :  AbdelRahman
And Your Age Is :  24

## Wait

In [5]:
# importing time library

import time

FirstName = input(print("Pleae Enter Your First Name"))

time.sleep(1)

print("Hello Sir , Your First Name Is : " , FirstName)

Pleae Enter Your First Name
Hello Sir , Your First Name Is :  Abdo

In [ ]:
# int() convert string into integer 

FirstNumber = int(input("Please Enter Your First Integer Number : "))
time.sleep(1.5)
SecondNumber = int(input("Please Enter Your Second Integer Number : "))

print("Your First Number Is : " , FirstNumber)
print("Your Second Number Is ; " , SecondNumber)
print("Your First Number + Second Number = " , FirstNumber + SecondNumber)

Your First Number Is :  5
Your Second Number Is ;  6
Your First Number + Second Number =  11


**This NoteBook Made By : Abdelrahman Alaa**

 **LinkedIn:**
  **https://www.linkedin.com/in/abdelrahman1alaa**

**GitHub** : **https://github.com/abdelrahman1alaa**