## NoteBook 2

## **In This NoteBook We Will Learn Three Topics :**

**1- Lists   2- Tuples  3- Dictionary**

## List

In [4]:
#list -> collection of ordered and changeable elements

list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#slicing [start:end:steps] returns new list from the existing list

print(list1[0])         # ==> get the first element in the list

print(list1[0:3])      # ==> get elements from the first to element 3 "0,1,2"

print(list1[0:4:2])    # ==> get the elements from element 1 to element 3 and move with to steps 

print(list1[0:])       # ==> get the elements of the list from the first one to the end

1
[1, 2, 3]
[1, 3]
[1, 2, 3, 4, 5]

In [ ]:
print(list1[::2])      # ==> get all element with moving 2 steps 

print(list1[-1])       # ==> -1 means the last element

print(list1[-3])       # ==> -3 means the third element from back

[1, 3, 5]
5
3

In [ ]:
print([list1]*2)       # ==> get the list and repeat it twice "List of List "

print(list1[0:3]*2)    # ==> without { } that means no list of list , but mearge the element together

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
[1, 2, 3, 1, 2, 3]

In [14]:
# multiply each item by value 

print("The Original List : " , list1)
print("List After Multiply its Items By Values : " , [x*2 for x in list1])

The Original List :  [1, 2, 3, 4, 5]
List After Multiply its Items By Values :  [2, 4, 6, 8, 10]

In [19]:
#append() is method that adds an element at the end of the list

Cars = ['BMW' , 'Ferrary' , 'F1' , 1990 , 1998 , 2024]
Cars.append("Maserati")
print(Cars)

['BMW', 'Ferrary', 'F1', 1990, 1998, 2024, 'Maserati']

In [ ]:
#insert() is method that adds an element at the specified position

Cars.insert(3,1999)
print(Cars)

['BMW', 'Ferrary', 'F1', 1999, 1990, 1998, 2024, 'Maserati']

In [ ]:
#remove() is method that removes the first item with the specified value

Cars.remove(1990)
print(Cars)

['BMW', 'Ferrary', 'F1', 1999, 1998, 2024, 'Maserati']

In [30]:
# Printing The Type Of List

print(type(Cars))

<class 'list'>

## Tuple

In [22]:
Tuple1= ('Abdelrahman' , 'Alaa' , 24 , 20 )
print(Tuple1)

('Abdelrahman', 'Alaa', 24, 20)

In [24]:
print(Tuple1[0])
print("The Last Item In Your Tuple Is : " , Tuple1[-1])

Abdelrahman
The Last Item In Your Tuple Is :  20

In [26]:
print(Tuple1[0:3:2])

('Abdelrahman', 24)

In [ ]:
# Printing The Type Of Tuple 

print(type(Tuple1))

<class 'tuple'>

## Dictionary

In [38]:
#dictionary are used to store data values in key:value pairs
dict = {"name": "Ali" , 
        "age" : "20",
        "Job":"Data Engineer"}

print(dict)

{'name': 'Ali', 'age': '20', 'Job': 'Data Engineer'}

In [ ]:
# print any key from the dictionary

print(dict["name"])

Ali

In [ ]:
# print the keys of the dictionary

print(dict.keys())

dict_keys(['name', 'age', 'Job'])

In [ ]:
# print the vlaues of the dictionary

print(dict.values())

dict_values(['Ali', '20', 'Data Engineer'])

In [43]:
# print items of the dictionary

print(dict.items())

dict_items([('name', 'Ali'), ('age', '20'), ('Job', 'Data Engineer')])


**This NoteBook Made By : Abdelrahman Alaa**

 **LinkedIn:**
  **https://www.linkedin.com/in/abdelrahman1alaa**

**GitHub** : **https://github.com/abdelrahman1alaa**