## NoteBook 3

## **In This NodteBook We Will Learn :**

**1- If condition**
 **2- Else If**
 **3- For Loop**
 **4- While Loop**
 **5- Functions**

## IF Condition

In [1]:
x = 5 
y = 10

if x + y == 15:
    print(x+y , "= 15")
else: 
    print(x+y ,"!= 15")

15 = 15

## else if

In [6]:
#elif else if  ==> to check another condition

StudentGrade = float(input(print("Please Enter Your Grade : ")))

if StudentGrade >= 70:
    print("A")
elif StudentGrade < 70 and StudentGrade >= 60:
    print("B")
elif StudentGrade < 60 and StudentGrade >= 50:
    print("C")
else:
    print("F")

Please Enter Your Grade :
C

In [3]:
Name = str(input(print("Please Enter Your Name :  ")))
import time
time.sleep(1.5)
Age = int(input(print("Please Enter Your Age : ")))

if Name == "Abdo" and Age == 21:
    print("Welcome Mr Abdo , We Miss You .")
elif Name == "Ali" or Age <= 30:
    print("Welcome Ali , How Can i Help You .")
else:
    print("Welcome Sir . ")

Please Enter Your Name :
Please Enter Your Age :
Welcome Ali , How Can i Help You .

In [7]:
# False = 0  , True = 1 

x = False
if x == 0:
    print("X Is True")
else:
    print("X Is  False")

X Is True

In [ ]:
x = False
if x != 0: # ==> != means not Equal
    print("X Is False")
else:
    print("X Is True")

X Is  True

In [15]:
MyCarList = {'BMW' , 'Ferrari' , 'Maserati' , 'Koenigsegg'}

if 'Maserati' in MyCarList:
    print("Yes Sir")

Yes Sir

In [17]:
if 'BMW' not in MyCarList: 
    print('I Have No Answer')
else: 
    print("No Sir , BMW Is Here")

No Sir , BMW Is Here

## For Loop

In [19]:
#for loop is used for iterating over a sequence like list

for i in MyCarList:
    print(i)

Koenigsegg
Ferrari
BMW
Maserati

In [22]:
Numbers = [0,1,2,3,4,5,6,7]
for i in Numbers:
    print(i + 2 )

print(Numbers)

2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [32]:
# Select The Odd and Even Numbers Form The List

for i in Numbers:
    if i == 0:
        print( i , "Zero")
    elif i % 2 == 0 :
        print(i , "This Is An Even Number") 
    elif i % 2 !=0 : 
        print(i ,"This Is An Odd Number")
    else : 
        print("Please Enter A Valid Number")

0 Zero
1 This Is An Odd Number
2 This Is An Even Number
3 This Is An Odd Number
4 This Is An Even Number
5 This Is An Odd Number
6 This Is An Even Number
7 This Is An Odd Number

In [35]:
#range(start, end, steps) function returns a sequence of numbers
#end in not included in the sequence 


for i in range(6):
    print(i)

0
1
2
3
4
5

In [36]:

for i in range(1,6):
    print(i)

1
2
3
4
5

In [37]:

for i in range(1,6,2):
    print(i)

1
3
5

In [ ]:
# Nested For Loop
List1 = [1,2]
List2 = [1,2,3,4,5]

for i in List1:            # nested loop ==> loop inside other loop
    for j in List2:
        print(i*j)

1
2
3
4
5
2
4
6
8
10

## While Loop

In [40]:
#while loop -> execute a set of statements as long as a condition is true (i < 5)
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [41]:
#Draw a pyramid with *
i = 1
while i <= 5:
    print(i*"*")
    i+=1 #same as i = i + 1

*
**
***
****
*****

In [ ]:
#break used to Terminates the loop even if the while condition is true

x = 10
while x >= 1:
    if x == 6:
        print("Terminates the loop")
        break
    print(x)
    x-=1

10
9
8
7
Terminates the loop

In [45]:
#break used to Terminates the loop even if the while condition is true

x = 10
while x >= 1 :
    x-=1
    if x == 6:
        print("Terminates the loop")
        break
    print (x)

9
8
7
Terminates the loop

In [47]:
#continue used to Skip only the current iteration then continue in while loop

i = 10
while i > 1:
    i-=1
    if i == 6:
        print("Skip this iteration")
        continue
    print(i)

9
8
7
Skip this iteration
5
4
3
2
1

## Functions

In [54]:
#create custom function (arguments)

def Adding_2_Numbers(x,y):
    total=x+y
    print(total)
Adding_2_Numbers(10,20) #calling the function (parameters)

30

In [55]:
Adding_2_Numbers(22,11)

33

In [56]:
Adding_2_Numbers(5,6)

11

In [58]:
def CreatingList(num):
    list1=[]    #create empty list
    for i in range(num):
        list1.append(i)
    return list1
CreatingList(5)

[0, 1, 2, 3, 4]

In [59]:
CreatingList(7)

[0, 1, 2, 3, 4, 5, 6]

## Task


Write a function called sum_list that takes a list of integers as input and returns the sum of all the numbers in the list.

Input Format: 
- A single line containing space-separated integers representing the elements of the list.
Output Format: 

- An integer representing the sum of all elements in the list.

Constraints: 

- The list will contain between 1 and 1000 integers.
- Each integer will be between -1000 and 1000.

Sample Input 1:
1 2 3 4 5

Sample Output 1:
15

Explanation 1:
1 + 2 + 3 + 4 + 5 = 15

Sample Input 2:
10 -5 7 3

Sample Output 2: 
15

Explanation 2:
10 + (-5) + 7 + 3 = 15

In [1]:
def sum_list(numbers):
    return sum(numbers)

# Read input as space-separated integers
numbers = list(map(int, input().split()))

# Call the function and print the result
print(sum_list(numbers))

15

**This NoteBooke Made By : Abdelrhaman Alaa**

 **LinkedIn:**
  **https://www.linkedin.com/in/abdelrahman1alaa**

**GitHub** : **https://github.com/abdelrahman1alaa**