## NoteBook 6

## **Real-World Data Wrangling Problem (with Pandas)**

**> Problem Statement: Unclean Orders Dataset**

**In this exercise, you're stepping into the shoes of a Data Engineer working for a fast-growing eCommerce company. Your job is to clean and prepare the raw orders data collection online store, customer service, and shipping vendors.**

**The dataset was exported from the operations system and handed over to the data team. Unfortunately, like most real-world datasets, it's far from clean. Your mission is to explore, clean, transform this data so it's ready for downstream analytics and reporting.**


**> About the Dataset: orders_with_issues.csv**

**This dataset contains a number of customer order records from an online retail platform. Each row represents a single customer order, including key details about the order date, shipping and cost. The data is intentionally messy to simulate what real-world data often looks like when handed to a data team.**

## > Your Objective :


**> By the end of this exercise, you will:**

**-Load the dataset into a DataFrame**

**-Inspect the raw data**

**-Clean invalid entries and handle missing values**

**-Engineer new features such as delivery time and shipping type**

**-Standardize the format for reporting**

**-Export a clean version**

## Loading & Exploring The Dataset

In [2]:
# Importing Libraries

import numpy as np 
import pandas as pd

In [3]:
# Read The Dataset Using Pandas

df = pd.read_csv("/home/kiwilytics/Downloads/Orders_with_issues.csv")

# Print Sample From Dataset

print(df.head())

   OrderID CustomerID   OrderDate ShippedDate        ShippingCost ShipCountry  \
0   1000.0       C001  2025-05-17  2025-07-30  -57.25454602444980     Germany
1   1001.0       C002  2025-01-26  2025-07-30              320.61      Canada
2   1002.0       C003  2025-03-08  2025-07-30              165.17      Canada
3   1003.0       C004  2025-03-24  2025-07-30               12.55     Germany
4   1004.0       C005  2025-04-15  2025-07-30              186.36      Canada

    ShipCity                 ShippingCompany
0    Hamburg  Kiwilytics Goods Shipping LLC.
1   Montreal                   UPS Worldwide
2  Vancouver                 FedEx Logistics
3     Munich            Aramex International
4  Vancouver                 FedEx Logistics

In [4]:
# Print Data As DataFrame 
df.head()

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany
0,1000.0,C001,2025-05-17,2025-07-30,-57.25454602444980,Germany,Hamburg,Kiwilytics Goods Shipping LLC.
1,1001.0,C002,2025-01-26,2025-07-30,320.61,Canada,Montreal,UPS Worldwide
2,1002.0,C003,2025-03-08,2025-07-30,165.17,Canada,Vancouver,FedEx Logistics
3,1003.0,C004,2025-03-24,2025-07-30,12.55,Germany,Munich,Aramex International
4,1004.0,C005,2025-04-15,2025-07-30,186.36,Canada,Vancouver,FedEx Logistics

In [5]:
# Print Summary About Data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          239 non-null    float64
 1   CustomerID       240 non-null    object
 2   OrderDate        237 non-null    object
 3   ShippedDate      219 non-null    object
 4   ShippingCost     231 non-null    object
 5   ShipCountry      245 non-null    object
 6   ShipCity         241 non-null    object
 7   ShippingCompany  245 non-null    object
dtypes: float64(1), object(7)
memory usage: 15.4+ KB

In [6]:
# Print The Describtion Of Data

df.describe()

           OrderID
count   239.000000
mean   1121.610879
std      71.057522
min    1000.000000
25%    1060.500000
50%    1122.000000
75%    1182.500000
max    1244.000000

In [7]:
# Check Missing Values 
df.isna().sum()

OrderID             6
CustomerID          5
OrderDate           8
ShippedDate        26
ShippingCost       14
ShipCountry         0
ShipCity            4
ShippingCompany     0
dtype: int64

In [8]:
# Chech Unique Chipping Companies
print("The Unique Shipping Companies : ")
df['ShippingCompany'].value_counts()  # Counting The Unique Values

The Unique Shipping Companies :

ShippingCompany
FedEx Logistics                   54
DHL Express                       53
Aramex International              51
UPS Worldwide                     46
Kiwilytics Goods Shipping LLC.    41
Name: count, dtype: int64

## Cleaning Dates, Numeric Entries That Don't Make Sense

In [9]:
# Convert Dates (Error Types :  -Coerce  -Ignore  -Raise)

df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors = 'coerce')
df['ShippedData'] = pd.to_datetime(df['ShippedDate'], errors = 'coerce')

In [10]:
# Clean Shiiping Cost

df['ShippingCost'] = pd.to_numeric(df['ShippingCost'], errors = 'coerce')

# Where The ShippingCost < 0 Replace It With NUL
df.loc[df['ShippingCost'] < 0 , 'SippingCost'] = np.nan 

# Replacing NULL With Any Value

## Handling Nulls, Fixing Fields & Standardization

In [12]:
# Handel NULLs Values

df['OrderID'] = df['OrderID'].fillna(method = 'ffill') # Fill OrderID With The Previous Value
df['CustomerID'] = df['CustomerID'].fillna("Unknown") # Fill CustomerID With Unknown
df['ShipCity'] = df['ShipCity'].fillna("Unspecified") # Fill ShipCity With Unspecified

/tmp/ipykernel_4076/1345076089.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['OrderID'] = df['OrderID'].fillna(method = 'ffill') # Fill OrderID With The Previous Value

In [ ]:
# Standardize Names

df ['ShipCountry'] = df['ShipCountry'].str.strip().str.title()  # Strip Use For Removing Spaces From Left And Right The Word , Title Use To Make The First Charachter From Any Word Capital
df ['ShipCity'] = df['ShipCity'].str.strip().str.title() 
df ['ShippingCompany'] = df['ShippingCompany'].str.strip()

# Fix specific cases
df.loc[df ['ShippingCompany'].str.contains ("Kiwilytics", na=False), 'ShippingCompany'] == "Kiwilytics Goods."

In [24]:
df

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,ShippedData,SippingCost
0,1000.0,C001,2025-05-17,2025-07-30,-57.254546,Germany,Hamburg,Kiwilytics Goods.,2025-07-30,NaN
1,1001.0,C002,2025-01-26,2025-07-30,320.610000,Canada,Montreal,UPS Worldwide,2025-07-30,NaN
2,1002.0,C003,2025-03-08,2025-07-30,165.170000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN
3,1003.0,C004,2025-03-24,2025-07-30,12.550000,Germany,Munich,Aramex International,2025-07-30,NaN
4,1004.0,C005,2025-04-15,2025-07-30,186.360000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN
...,...,...,...,...,...,...,...,...,...,...
240,1240.0,C001,2024-11-19,2025-07-30,372.980000,Uk,Manchester,Aramex International,2025-07-30,NaN
241,1241.0,C002,NaT,2025-07-30,NaN,Usa,Houston,Aramex International,2025-07-30,NaN
242,1242.0,C003,2025-01-16,2025-07-30,241.160000,Usa,New York,Kiwilytics Goods.,2025-07-30,NaN
243,1243.0,C004,2024-09-16,2025-07-30,83.540000,Egypt,Cairo,DHL Express,2025-07-30,NaN
244,1244.0,C005,2025-01-28,2025-07-30,430.170000,Germany,Berlin,Aramex International,2025-07-30,NaN

## Feature Engineering


**✅ What this code does:**

Converts the date columns to datetime (to ensure subtraction works).

Calculates how many days passed between order and shipment.

Flags orders as:

"Unknown" if shipment date is missing.

"Late" if delivery took more than 15 days.

"OnTime" otherwise.

In [30]:
#Days between order and shipment

import pandas as pd

# Ensure columns are datetime
df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors='coerce')
df['ShippedDate'] = pd.to_datetime(df['ShippedDate'], errors='coerce')

# Calculate days difference
df['DeliveryDays'] = (df['ShippedDate'] - df['OrderDate']).dt.days

# Define the flag function
def get_status(x):
    if pd.isna(x):
        return "Unknown"
    elif x > 15:
        return "Late"
    else:
        return "OnTime"

# Apply the flag
df['DeliveryStatus'] = df['DeliveryDays'].apply(get_status)

df

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,ShippedData,SippingCost,IsDomestic,DeliveryDays,DeliveryStatus
0,1000.0,C001,2025-05-17,2025-07-30,-57.254546,Germany,Hamburg,Kiwilytics Goods.,2025-07-30,NaN,Yes,74.0,Late
1,1001.0,C002,2025-01-26,2025-07-30,320.610000,Canada,Montreal,UPS Worldwide,2025-07-30,NaN,No,185.0,Late
2,1002.0,C003,2025-03-08,2025-07-30,165.170000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No,144.0,Late
3,1003.0,C004,2025-03-24,2025-07-30,12.550000,Germany,Munich,Aramex International,2025-07-30,NaN,Yes,128.0,Late
4,1004.0,C005,2025-04-15,2025-07-30,186.360000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No,106.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,1240.0,C001,2024-11-19,2025-07-30,372.980000,Uk,Manchester,Aramex International,2025-07-30,NaN,No,253.0,Late
241,1241.0,C002,NaT,2025-07-30,NaN,Usa,Houston,Aramex International,2025-07-30,NaN,No,NaN,Unknown
242,1242.0,C003,2025-01-16,2025-07-30,241.160000,Usa,New York,Kiwilytics Goods.,2025-07-30,NaN,No,195.0,Late
243,1243.0,C004,2024-09-16,2025-07-30,83.540000,Egypt,Cairo,DHL Express,2025-07-30,NaN,No,317.0,Late
244,1244.0,C005,2025-01-28,2025-07-30,430.170000,Germany,Berlin,Aramex International,2025-07-30,NaN,Yes,183.0,Late

In [25]:
#Domestic vs International

def check_domestic(country):
    if country in domestic_countries:
        return "Yes"
    else:
        return "No"
domestic_countries = ["Germany"]
df['IsDomestic'] = df ['ShipCountry'].apply(check_domestic)
df.head()

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,ShippedData,SippingCost,IsDomestic
0,1000.0,C001,2025-05-17,2025-07-30,-57.254546,Germany,Hamburg,Kiwilytics Goods.,2025-07-30,NaN,Yes
1,1001.0,C002,2025-01-26,2025-07-30,320.610000,Canada,Montreal,UPS Worldwide,2025-07-30,NaN,No
2,1002.0,C003,2025-03-08,2025-07-30,165.170000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No
3,1003.0,C004,2025-03-24,2025-07-30,12.550000,Germany,Munich,Aramex International,2025-07-30,NaN,Yes
4,1004.0,C005,2025-04-15,2025-07-30,186.360000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No

## Grouping

In [33]:
# Grouping examples

avg_shipping_by_company = df.groupby ("ShippingCompany") ['ShippingCost'].mean()
print("M Avg Shipping Cost by Company:")
print(avg_shipping_by_company)

M Avg Shipping Cost by Company:
ShippingCompany
Aramex International    240.455949
DHL Express             226.637255
FedEx Logistics         229.533269
Kiwilytics Goods.       227.695936
UPS Worldwide           249.268272
Name: ShippingCost, dtype: float64

## Export, Reporting & Wrap-up

In [34]:
# Export Cleaned File.

df.to_csv("Cleaned_Orders.csv", index = False)

In [ ]:
# Print Final Summary

print("Final Dataset SnapShot :\n")
df.head()

Final Dataset SnapShot

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,ShippedData,SippingCost,IsDomestic,DeliveryDays,DeliveryStatus
0,1000.0,C001,2025-05-17,2025-07-30,-57.254546,Germany,Hamburg,Kiwilytics Goods.,2025-07-30,NaN,Yes,74.0,Late
1,1001.0,C002,2025-01-26,2025-07-30,320.610000,Canada,Montreal,UPS Worldwide,2025-07-30,NaN,No,185.0,Late
2,1002.0,C003,2025-03-08,2025-07-30,165.170000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No,144.0,Late
3,1003.0,C004,2025-03-24,2025-07-30,12.550000,Germany,Munich,Aramex International,2025-07-30,NaN,Yes,128.0,Late
4,1004.0,C005,2025-04-15,2025-07-30,186.360000,Canada,Vancouver,FedEx Logistics,2025-07-30,NaN,No,106.0,Late

In [36]:
print("DeleveryStatus BreakDown :\n")
print(df['DeliveryStatus'].value_counts())

DeleveryStatus BreakDown :

DeliveryStatus
Late       190
Unknown     50
OnTime       5
Name: count, dtype: int64

In [41]:
print("Orders by Country:\n")
print(df['ShipCountry'].value_counts())

Orders by Country:

ShipCountry
Uk           56
Usa          49
Canada       45
Egypt        41
Germany      38
Palestine    16
Name: count, dtype: int64

In [40]:

print("Orders by City:\n")
print(df['ShipCity'].value_counts())

Orders by City:

ShipCity
Liverpool      21
Montreal       19
Giza           18
Manchester     18
London         16
Munich         14
Toronto        13
Cairo          13
Houston        13
Chicago        13
Hamburg        12
Vancouver      12
Gaza           12
New York       12
Los Angeles    11
Berlin         11
Alexandria      9
Unspecified     4
Al Quds         4
Name: count, dtype: int64

In [42]:
print("Top 3 Shipping Companies:\n")
print(df['ShippingCompany'].value_counts().head(3))

Top 3 Shipping Companies:

ShippingCompany
FedEx Logistics         54
DHL Express             53
Aramex International    51
Name: count, dtype: int64

## Key Takeaways:

## Exploratory Data Analysis

  **- You learned how to inspect raw data, identify data quality issues, and understand column types, missing values, and distributions.**

**Data Cleaning Techniques You practiced handling:**

    -Invalid or missing dates
    -Non-numeric and negative values in cost fields
    -Nulls in critical columns like OrderID, CustomerID, and ShipCity
    -Inconsistent formatting and standardization
    -Feature Engineering

**You created new features like:**

    -Delivery Days: the number of days between order and shipment
    -Delivery Status: a flag for late vs on-time shipments
    -IsDomestic: to distinguish local vs international orders
    -Exporting Cleaned Data
    
**You prepared a final, cleaned dataset ready for analytics, reporting, or loading into a database.**

**This Notebook Made By : Abdelrahman Alaa**

 **LinkedIn:**
  **https://www.linkedin.com/in/abdelrahman1alaa**


**GitHub** : **https://github.com/abdelrahman1alaa**